# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/
*.py[cod]

ICOToday/apps/projects/migrations/*
!ICOToday/apps/projects/migrations/__init__.py

ICOToday/apps/feeds/migrations/*
!ICOToday/apps/feeds/migrations/__init__.py

ICOToday/apps/accounts/migrations/*
!ICOToday/apps/accounts/migrations/__init__.py

ICOToday/apps/notifications/migrations/*
!ICOToday/apps/notifications/migrations/__init__.py

ICOToday/apps/wallets/migrations/*
!ICOToday/apps/wallets/migrations/__init__.py

ICOToday/apps/companies/migrations/*
!ICOToday/apps/companies/migrations/__init__.py

ICOToday/apps/conversations/migrations/*
!ICOToday/apps/conversations/migrations/__init__.py

ICOToday/media/
ICOToday/tmp.sqlite3

env_ico/

\.idea/
