{% extends "admin/base.html" %}
{% block title %}ICOToday Admin Portal{% endblock %}

{% block extrastyle %}
    <style>
        .widget {
            background: #f8f8f8;
            float: right;
            width: 260px;
            position: relative;
            margin-right: -600px;
        }

        .widget h2 {
            background: none;
            padding: 16px;
            margin: 0;
            margin-bottom: 16px;
            border-bottom: 1px solid #eaeaea;
            font-size: 18px;
            font-weight: 400;
            color: #333;
            text-align: left;

        }

        .widget h3 {
            font-size: 14px;
            color: #666;
            padding: 0 16px;
            margin: 0 0 16px;
            font-weight: bold;
        }

        .widget p {
            margin-bottom: 10px;
            padding-left: 18px;
        }
    </style>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png?v=4"/>
{% endblock %}

{% block branding %}
    <h1 id="site-name">ICOToday Admin Portal</h1>
{% endblock %}


{% block welcome-msg %}
    Welcome,
    <strong>Admin User</strong>.
{% endblock %}

{% block userlinks %}
    <a href="https://icotoday.io" target="_blank">Back to site</a> |
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">Change password</a> |
    {% endif %}
    <a href="{% url 'admin:logout' %}">Log out</a>
{% endblock %}

